.tableBook {
	&__container {
		background-color: var(--color-black);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 0 20px;
		min-height: 100vh;
		position: relative;
		// z-index: 1;

		&__header {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			color: var(--color-white);
			text-align: center;
			margin-bottom: 50px;

			&__title {
				font-size: 3rem;
				font-weight: 500;
				margin-bottom: 10px;
				color: var(--color-golden);
			}

			&__subtitle {
				font-size: 1.1rem;
				font-weight: 400;
			}
		}

		&__form {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-evenly;
			min-width: 90%;
			margin-bottom: 50px;
			color: var(--color-crimson);

			&__btn {
				background-color: #444444;
				color: var(--color-crimson);
				padding: 10px 30px;
				border-radius: 5px;
				cursor: pointer;
				border: #222831 solid 1px;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: #696969;
				}
			}
		}

		&__tables {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-bottom: 50px;

			&__table {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				flex-direction: column;
				width: 170px;
				height: 210px;
				background-color: var(--menu-card-bg);
				margin: 10px;
				border-radius: 10px;
				cursor: pointer;
				transition: all 0.3s ease-in-out;

				&:hover {
					transform: scale(1.1);
					background-color: var(--menu-card-hover-bg);
				}

				&__header {
					font-size: 1.5rem;
					font-weight: 500;
					color: var(--color-crimson);
					padding-top: 1rem;
				}

				&__body {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 120px;
					width: 130px;
					margin-top: -1rem;

					&__img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						border-radius: 10px;
					}
				}
				&__body--2 {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 80px;
					width: 80px;
					margin: 0.8rem 0;

					&__img {
						height: 100%;
						width: 100%;
						object-fit: cover;
						border-radius: 10px;
					}
				}

				&__footer {
					font-size: 1rem;
					font-weight: 400;
					padding: 1rem;

					&__btn {
						background-color: #444444;
						color: var(--color-crimson);
						padding: 5px 20px;
						border-radius: 5px;
						cursor: pointer;
						border: #222831 solid 1px;
						transition: all 0.3s ease-in-out;

						&:hover {
							background-color: #696969;
						}
					}
				}
			}
		}
	}
}
