.cart {
  min-height: calc(100vh - 120px);
  margin: 0;
  padding: 1rem 0;
  max-width: var(--fixed-width);
  background-color: var(--color-lighter-dark);
  color: var(--color-white);
  font-family: var(--font-alt);
  display: flex;
}

.cart__container {
  padding: 0 2rem 0 2rem;
  width: 60%;
}
.cart h2 {
  font-family: var(--font-base);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 4rem;
}
.empty-cart {
  text-transform: lowercase;
  color: var(--clr-grey-5);
  margin-top: 1rem;
  text-align: center;
}
.cart footer {
  margin-top: rem;
  text-align: center;
}
.cart-total h4 {
  font-family: var(--font-base);
  border-top: 1px rgb(207, 210, 207, 0.1) solid;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}
.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-red-dark);
  border-color: var(--clr-red-light);
}

.checkout {
  background-color: var(--color-golden);
  width: 50%;
  margin: 5.2rem 4rem 0 5rem;
  height: 500px;
  border-radius: 4rem;
  color: black;
}

.checkout p {
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  /* /* padding: 1rem 5rem 0rem 9rem; */
  font-family: var(--font-base);
}

.checkout hr {
  color: black;
  background-color: black;
  height: 3px;
  width: 75%;
  margin: 0 auto;
}

.before__coupon {
  display: flex;
}

.before__coupon p {
  font-size: 1.5rem;
}

.coupon {
  margin: 3rem 4rem 2rem 4rem;
}

.checkout .coupon {
  /* margin: 5rem 7rem; */
  display: flex;
}

.button_checkout {
  text-align: center;
}
